.corb_korb {
    display: flex;
}
.korb_seite {
    height: 1110px;
    padding: 0%;
    margin-left: 15%;
    margin-right: -1%;
}
.korb_fon {
    margin-left: -2rem;
}
.korb_waren {
    width: 435px;
    height: 1118px;
    padding: 2%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.korb_header {
    display: flex;
    justify-content: space-between;
}
.korb_title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.813rem;
    margin-bottom: 2.5rem;
}
.deletesvg {
    width: 2rem;
    height: 2rem;
}
.cart_waren {
    border: 1px solid #F3F3F3;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 5%;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.img_corb_waren {
    width: 4.375rem;
    height: 4.375rem;
}
.corb_title_waren {
    margin-left: 1.313rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
}
.corb_text, .corb_marke {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
}
.corb_price_shuhe {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
}
.img_corb_svg {
    width: 2rem;
    height: 2rem;
    margin-top: 1.5rem;
}
.insgesamt {
    margin-top: 5rem;
}
.gesamt {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7rem;
    margin-bottom: 2rem;
}
.korb_btn {
    width: 20.313rem;
    height: 4rem;
    background: #9DD558;
    border-radius: 18px;
    border: 0.5px solid #9DD458;
    color: #fff;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.188rem;
    text-align: center;
}
