* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Gaegu', cursive;
  font-family: 'Inter', sans-serif;
  color: #000000;
}
.container {
  width: 82rem;
  padding-left: 0.938rem;
  padding-right: 0.938rem;
  margin: 0 auto;

}
.cards_row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
  padding: 2%;
}
/* für Suche */
.search {
  display: flex;
  justify-content: space-between;
  padding-top: 6rem;
}
h1 {
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 2rem;
  margin-left: 1rem;
}
.input_search {
  display: flex;
  width: 17rem;
  height: 2.6rem;
/* border: 1px solid #F3F3F3;
  border-radius: 0.625rem;
  */
} 
.search_img {
  width: 1rem;
  height: 1rem;
  margin-top: 0.8rem;
  margin-right: 0.8rem;
}
.search_text {
  font-size: 0.875rem;
  line-height: 1.063rem;
  color: #727171;
  padding-left: 10px;
}
